.card-list-list {
  list-style: none;
  margin: 0;
  padding: 80px 70px 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px 20px;
}

@media (max-width: 768px) {
  .card-list-list {
    padding: 80px 30px 80px;
    gap: 36px 30px;
  }
}

@media (max-width: 600px) {
  .card-list-list {
    padding: 53px 10px 80px;
    gap: 20px;
  }
}