.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px
}

.not-found-page__header {
  margin: 0;
  margin-top: 35vh;
  font-size: 140px;
  font-weight: 400;
  text-align: center;
  padding: 0;
}

.not-found-page__text {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding: 0;
}

.not-found-page__link {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  text-align: center;
  margin-top: auto;
  padding-bottom: 60px;
}

.not-found-page__link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .not-found-page {
    gap: 12px;
  }

  .not-found-page__header {
    margin-top: 40vh;
  }

  .not-found-page__link {
    padding-bottom: 221px;
  }
}

@media (max-width: 500px) {
  .not-found-page__header {
    font-size: 80px;
    padding-top: 20px;
  }

  .not-found-page__text {
    font-size: 12px;
  }

  .not-found-page__link {
    padding-bottom: 30px;
  }
}