.promo {
  padding: 0 70px;
  background-color: #F3C1F8;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.promo__header {
  padding: 50px 0 102px;
  margin: 0;
  color: #000;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -1.6px;
  max-width: 626px;
  width: 100%;
}

.promo__image-wrapper {
  max-width: 722px;
  align-self: flex-end;
  padding: 0 0 60px;
}

.promo__image {
  width: 100%;
}

@media (max-width: 800px) {
  .promo {
    padding: 0 44px;
  }

  .promo__header {
    padding: 300px 0 140px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
  }

  .promo__image-wrapper {
    padding: 0 0 70px;
    max-width: 680px;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .promo {
    padding: 0;
  }

  .promo__header {
    padding: 183px 0 60px;
    font-size: 31px;
    letter-spacing: -1.24px;
    max-width: calc(100% - 20px);
  }

  .promo__image-wrapper {
    padding: 0 0 40px;
    overflow: hidden;
  }

  .promo__image {
    width: 680px;
    object-fit: cover;
    object-position: center;
  }
}