.student {
  padding: 113px 70px 100px;
  background-color: #fff;
}

.student__header {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  width: 100%;
  padding: 0 0 23px;
  margin: 0;
  border-bottom: solid 1px #000;
}

.student__info {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 0;
  gap: 50px;
}

.student__text {
  max-width: 600px;
  width: 100%;
}

.student__name {
  color: #000;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  margin: 0;
  padding: 0 0 18px;
}

.student__title {
  color: #000;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
  margin: 0;
  padding: 0 0 26px;
}

.student__about {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0;
  padding: 0 0 99px;
}

.student__link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.student__link:hover {
  opacity: 0.6;
}

.student__image {
  max-width: 270px;
  width: 100%;
  max-height: 327px;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px;
  justify-self: right;
}

@media (max-width: 800px) {
  .student {
    padding: 90px 50px;
  }

  .student__name {
    font-size: 40px;
    line-height: 1;
  }

  .student__title {
    font-size: 12px;
    line-height: 1.5;
    padding: 0 0 20px;
  }

  .student__about {
    font-size: 12px;
    line-height: 1.5;
    padding: 0 0 87px;
  }

  .student__image {
    max-width: 255px;
    max-height: 307px;
  }
}

@media (max-width: 600px) {
  .student {
    padding: 70px 14px;
  }

  .student__header {
    font-size: 18px;
    padding: 0 0 28px;
  }

  .student__name {
    font-size: 30px;
  }

  .student__title {
    font-size: 11px;
  }

  .student__about {
    font-size: 11px;
    padding: 0 0 40px;
  }
}

@media (max-width: 550px) {
  .student__info {
    padding: 60px 0 0;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .student__image {
    max-width: 292px;
    max-height: 353px;
    height: 100%;
    width: 100%;
    align-self: center;
  }

  .student__text {
    padding-top: 3px;
  }

  .student__name {
    letter-spacing: -1.2px;
    padding-bottom: 22px;
  }

  .student__about {
    line-height: 16px
  }
}
