.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
}

.auth__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  height: 100%;
}

.auth__logo {
  width: 38px;
  height: 38px;
}

.auth__logo:hover {
  opacity: 0.7;
}

.auth__header {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  padding: 36px 0 43px;
  margin: 0;
}

.auth__subtext {
  margin: 16px 0 70px;
  text-align: center;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.auth__link {
  text-decoration: none;
  color: #000;
  padding-left: 6px;
}

.auth__link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .auth__wrapper {
    padding-top: 232px;
  }
  .auth__subtext {
    margin-bottom: 232px;
  }
}

@media (max-width: 480px) {
  .auth__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
  }

  .auth__logo {
    padding-bottom: 0;
  }

  .auth__header {
    padding-bottom: 83px;
    padding-top: 47px;
  }

  .auth__subtext {
    margin-bottom: 30px;
    font-size: 12px;
  }

  .auth__form {
    width: 81vw;
  }
}
